*{
    margin: 0%;
    text-decoration: none;
}
body{
    width: 100%;
    background-image: url("./img/pizza1.png");
    background-size: cover;
    overflow-x: hidden;
}

header{
    width: 100%;
    height:3rem;
    margin: 1rem 0 0 1rem;
}
img{
    width: 20px;
    padding-right: 1rem;
}
header>a{
    display: flex;
    width: 15%;
    background-color: rgb(148, 201, 255);
    padding: 1rem 2rem;
    border-radius: 10px;
}
a{
    color: black;
    padding-left: 1rem;
}

.search{
    margin-top: 2%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.search :hover{
    transition: all,0.3s,ease-out,0.5s;
    height:40px;
    width: 350px;
}
#ingredientInput{
    padding: 10px;
    width: 300px;
}

.recipe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe>a{
    text-decoration: none;
    background-color: #333;
    color: #ccc;
    padding: 0.8rem;
    margin-top: auto;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

button{
    width: 150px;
    padding: 0.7rem 1rem;
    background-color: #d3a716;
    border: none;
    outline: none;
    color:black;
    font-size: 14px;
    border-radius: 10px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    padding: 20px;
    width: 50%;
    background-color: rgba(152, 221, 237, 0.71);
    border-radius: 2rem;
}

