* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.navbar {
    padding: 0px 5%;
    background-image: linear-gradient(45deg, rgba(72, 33, 24, 0.2) 0%, rgba(72, 33, 24, 0.2) 36%,rgba(107, 68, 41, 0.2) 36%, rgba(107, 68, 41, 0.2) 51%,rgba(141, 103, 58, 0.2) 51%, rgba(141, 103, 58, 0.2) 64%,rgba(176, 137, 74, 0.2) 64%, rgba(176, 137, 74, 0.2) 76%,rgba(210, 172, 91, 0.2) 76%, rgba(210, 172, 91, 0.2) 100%),linear-gradient(135deg, rgba(16, 29, 192, 0.2) 0%, rgba(16, 29, 192, 0.2) 40%,rgba(61, 43, 200, 0.2) 40%, rgba(61, 43, 200, 0.2) 41%,rgba(107, 57, 208, 0.2) 41%, rgba(107, 57, 208, 0.2) 47%,rgba(152, 70, 215, 0.2) 47%, rgba(152, 70, 215, 0.2) 88%,rgba(198, 84, 223, 0.2) 88%, rgba(198, 84, 223, 0.2) 91%,rgba(243, 98, 231, 0.2) 91%, rgba(243, 98, 231, 0.2) 100%),linear-gradient(90deg, rgb(255, 136, 53) 0%, rgb(255, 136, 53) 10%,rgb(246, 113, 64) 10%, rgb(246, 113, 64) 12%,rgb(236, 89, 75) 12%, rgb(236, 89, 75) 24%,rgb(227, 66, 87) 24%, rgb(227, 66, 87) 29%,rgb(217, 42, 98) 29%, rgb(217, 42, 98) 40%,rgb(208, 19, 109) 40%, rgb(208, 19, 109) 100%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.navbar h1 {
    font-size: 2rem; /* Increase font size for the title */
}

@media (max-width: 768px) {
    .navbar h1 {
        font-size: 1.5rem;
    }}
.nav-elements{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
li{
    list-style-type: none;
}

.nav-elements li:hover{
    color: #333;
}
.Find:hover{
    transition: all,0.3s,ease-out,0.5s;
    height: 40px;
    width: 200px;
}
  #hero-section{
    min-height: 100vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 229, 240);
}

.hero-content{
    width: 40%;
}

.hero-heading{
    font-size: 6rem;
    line-height: 5rem;
    font-weight: 700;
    
    color: #419197;
}

.hero-line{
    line-height: 2rem;
    opacity: 0.75;
    margin-top: 2rem;
}

.search.location{
    width: 100%;
    height: 3.5rem;
    border-radius: .2rem;
    margin: 2.5rem 0;
}

.locate-btn{
    font-size: 1.2rem;
    width: 4rem;
    transition: .5s;
}

.search.location .search-box{
    padding: 1rem 1.5rem;
}

.hero-action-btn-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 15px;
}

.btn{
    padding: 1rem 1.5rem;
    border: 20px;
    border-radius: .3rem;
    font-size: 1rem;
    color:  blueviolet;
    background: white;
    text-transform: capitalize;
    cursor: pointer;
}
.hero-img-container{
    min-width: 30rem;
    min-height: 30rem;
    position: relative;
    transform: scale(0.9) translateY(1rem);
}

.background-ele{
    width: 100%;
    min-height: 100%;
    position: absolute;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 70px;
}

footer p {
    font-size: 14px;
}


.hero-img{
    position: absolute;
    width: 15rem;
    border-radius: 100%;
    box-shadow:  0 1rem 1rem var(--shadow);
    
}
.hero-img:nth-child(1){
    right: 15%;
    top: 20%;
   
}
.hero-img:nth-child(2)
{
    right: 25%;
    top: 60%;   
    border-radius: 200px;
   
}
.hero-img:nth-child(3)
{
    right:35%;
    top: 10%;  
    width: 20rem; 
}
.hero-img-container{
    min-width: 30rem;
    min-height: 30rem;
    position: relative;
    transform: scale(0.9) translateY(1rem);
}

.background-ele{
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.ellipse{
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    border: .01rem solid #419197;
    transform-origin: center;
}

.ellipse:nth-child(1){
    width: 80%;
    transform: translate(-50%, -50%) rotate(20deg);
}

.ellipse:nth-child(2){
    width: 90%;
    transform: translate(-50%, -50%) rotate(40deg);
}

.ellipse:nth-child(3){
    width: 90%;
    transform: translate(-50%, -50%) rotate(-20deg);
}

button{
    width: 150px;
    padding: 0.7rem 1rem;
    background-color: #d3a716;
    border: none;
    outline: none;
    color:black;
    font-size: 14px;
}


.must-try{
    background-color: rgb(201, 229, 240);
}
.must-try-title{
    text-align: center;
    font-size: 80px;
    color: #d3a716 ;
    
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px 80px;
}

.box {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #419197;
    border-radius: 10px;
    background-color: rgb(206, 229, 238);
}
.cnt-title{
    text-align: center;
    color: #419197;
    padding: 10px;
}
.box a{
    display: flex;
    justify-content: center;
    padding: 20px;
}